
<div class="page-header">
  <h1>Meteorologist</h1>
</div>


<form action="/street_to_weather">

  <div class="container">

    <div class="row">
      <h2>Where are you?</h2>
    </div>

    <div class="row">
      <div class="input-group input-group-lg col-md-8">
        <div class="input-group-addon" for="the_address">Street Address</div class="input-group-addon">
        <input type="text" class="form-control" name="user_street_address" id="the_address">
      </div>
    </div>

    <div class="row">'</div>

    <div class="row">
      <div class="btn btn-primary">Tell me the weather!</div>
    </div>
  </div>

</form>


