 <div class="panel-heading">
  <h3 class="panel-title">Street &rarr; Coords Results</h3>
</div>
<div class="panel-body">
  <dl>
    <dt>Street Address</dt>
    <dd><%= @street_address %></dd>

    <dt>Latitude</dt>
    <dd><%= @lat %></dd>

    <dt>Longitude</dt>
    <dd><%= @lng %></dd>
  </dl>
</div>
